@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-water-50: #f0fdfa;
  --color-water-100: #ccfbf1;
  --color-water-200: #99f6e4;
  --color-water-300: #5eead4;
  --color-water-400: #2dd4bf;
  --color-water-500: #14b8a6;
  --color-water-600: #0d9488;
  --color-water-700: #0f766e;
  --color-water-800: #115e59;
  --color-water-900: #134e4a;
  --color-water-950: #042f2e;

  --font-sans: var(--font-outfit);
}

:root {
  --background: #042f2e;
  /* dark teal background */
  --foreground: #f0fdfa;
  /* light teal foreground */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
}